<html ng-app="StudentApp">
<head>

<LINK rel="stylesheet" type="text/css"
	href="http://layout.jquery-dev.com/lib/css/themes/base/jquery.ui.all.css">
<LINK rel="stylesheet" type="text/css"
	href="http://layout.jquery-dev.com/lib/css/layout-default-latest.css">
<link rel="stylesheet" href="css/studentPortal.css">
<SCRIPT type="text/javascript"
	src="http://layout.jquery-dev.com/lib/js/jquery-latest.js"></SCRIPT>
<SCRIPT type="text/javascript"
	src="http://layout.jquery-dev.com/lib/js/jquery-ui-latest.js"></SCRIPT>
<script type="text/javascript"
	src="http://layout.jquery-dev.com/lib/js/jquery.layout-latest.js"></script>
<SCRIPT type="text/javascript"
	src="http://layout.jquery-dev.com/lib/js/debug.js"></SCRIPT>
<SCRIPT type="text/javascript"
	src="http://layout.jquery-dev.com/lib/js/themeswitchertool.js"></SCRIPT>
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/studentPortal.js">
	
</script>


</head>

<body>

	<div id="container">
		<div id="tabs_div" class=" ui-layout-center">

			<div class="header-footer ui-state-default ui-corner-all banner">
				Student Portal</div>
			<UL
				style="-moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;">
				<LI><A href="#tab_1"><SPAN class="my-tabs">Student</SPAN></A></LI>
				<LI><A href="#tab_2"><SPAN class="my-tabs">Department</SPAN></A></LI>
				<LI><A href="#tab_3"><SPAN class="my-tabs">Report</SPAN></A></LI>
				<LI><A href="#tab_4"><SPAN class="my-tabs">Help</SPAN></A></LI>
			</UL>
			<div class="ui-layout-content ui-widget-content ui-corner-bottom"
				style="border-top: 0; padding-bottom: 1em;">

				<div id="tab_1" ng-controller="StudentCtrl">
					<div>

						<span id="inner-heading">Student's List</span> <span
							id="portal-heading">Details</span>
					</div>
					<div id="innerWest">
						<div>
							<input type="text" ng-model="curPlace" placeholder="Search"
								class="inputText my-inputText">
							<button type="button" class="btn btn-info addButton"
								ng-click="add()">Add</button>

							<ul id="search-list">
								<li id="list-item"
									ng-repeat="student in students | filter:curPlace"><a
									ng-href="#" ng-click="selectedStudent(student)">{{student.name}}<img
										class="deleteButton" ng-src="images/delete.png" alt="Delete"
										ng-click="deleteSelectedStudent(student)">
								</a></li>
							</ul>
						</div>
					</div>
					<div id="innerCenter">
						<div id="my-label" ng-show="IsMyLabelVisible">
							<form>
								<fieldset>
									<legend>Personalia:</legend>
									<table>
										<tr>
											<td><label>Name:</label></td>

											<td>{{student.name}}</td>
										</tr>
										<tr>
											<td><label>Department:</label></td>

											<td>{{student.deparment}}</td>
										</tr>
										<tr>
											<td><label>Id Number:</label></td>

											<td>{{student.idno}}</td>
										</tr>
										<tr>
											<td><label>Phone:</label></td>

											<td>{{student.phno}}</td>
										</tr>
										<tr>
											<td><label>Address:</label></td>
										<tr>
											<td />
											<td>{{student.address.streetAddress}}</td>
										</tr>
										<tr>
											<td />
											<td>{{student.address.city}}</td>
										</tr>
										<tr>
											<td />
											<td>{{student.address.state}}</td>
										</tr>
										<tr>
											<td />
											<td>{{student.address.zipcode}}</td>
										</tr>
										<tr>
											<td><button type="button" ng-click="show()"
													class="btn btn-info mybutton">Edit</button></td>
											<td><button ng-click="toggleModal()"
													class="btn btn-info mybutton">Student's Mark</button> <modal
													title="MarkList" visible="showModal">

												<div class="gridStyle" ng-grid="gridOptions"></div>
												</modal>
												</td>
										</tr>
									</table>

								</fieldset>
							</form>
						</div>
						<div id="my-label" ng-show="IsVisible">
							<form>
								<fieldset>
									<table>
										<tr>
											<td><label>Name:</label></td>
											<td><input type="text" id="name" ng-model="student.name"
												ng-readonly="isReadonly"></td>
										</tr>
										<tr>
											<td><label>Department:</label></td>
											<td><input type="text" id="dept"
												ng-model="student.deparment" ng-readonly="isReadonly"></td>
										</tr>
										<tr>
											<td><label>Id Number:</label></td>
											<td><input type="text" id="idno" ng-model="student.idno"
												ng-readonly="isReadonly"></td>
										</tr>
										<tr>
											<td><label>Phone:</label></td>
											<td><input type="text" id="phno" ng-model="student.phno"
												ng-readonly="isReadonly"></td>
										</tr>
										<tr>
											<td><label>Address:</label></td>
										<tr>
											<td />
											<td><input type="text" id="streetAddress"
												ng-model="student.address.streetAddress"
												ng-readonly="isReadonly"></td>
										</tr>

										<tr>
											<td />
											<td><input type="text" id="city"
												ng-model="student.address.city" ng-readonly="isReadonly"></td>
										</tr>

										<tr>
											<td />
											<td><input type="text" id="state"
												ng-model="student.address.state" ng-readonly="isReadonly"></td>
										</tr>

										<tr>
											<td />
											<td><input type="text" id="zipcode"
												ng-model="student.address.zipcode" ng-readonly="isReadonly"></td>
										</tr>
                                           <tr>
											<td><label>Tamil Mark:</label></td>
											<td><input type="text" id="tamil"
												ng-model="student.marks.tamil" ng-readonly="isReadonly"></td>
										</tr>
										<tr>
											<td><label>English Mark:</label></td>
											<td><input type="text" id="english"
												ng-model="student.marks.english" ng-readonly="isReadonly"></td>
										</tr>
										<tr>
											<td><label>Maths Mark:</label></td>
											<td><input type="text" id="maths"
												ng-model="student.marks.maths" ng-readonly="isReadonly"></td>
										</tr>
										<tr>
											<td><label>Science Mark:</label></td>
											<td><input type="text" id="science"
												ng-model="student.marks.science" ng-readonly="isReadonly"></td>
										</tr>
                                          <tr>
											<td><label>Social Science Mark:</label></td>
											<td><input type="text" id="socialScience"
												ng-model="student.marks.socialScience" ng-readonly="isReadonly"></td>
										</tr>
										<tr>
											<td />
											<td>
												<div class="btn-group">
													<button type="button" class="btn btn-info mybutton "
														ng-click="save(student)">Save</button>
													<button type="button" class="btn btn-info mybutton">Cancel</button>
												</div>
											</td>
										</tr>
									</table>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<div id="tab_2">
					<p>tab2 content</p>
				</div>
				<div id="tab_3">
					<p>tab3 content</p>
				</div>
				<div id="tab_4">
					<p>tab4 content</p>
				</div>
			</div>

		</div>

		<DIV class=" pane ui-layout-south">south</DIV>
	</div>
</body>
</html>
